block metas
	-var title = ""
	-var pagetitle = ""
	-var groop = ""
	-var current = ""
	-var description = ""
	-var keyword = ""
	-var og_name = ""
	-var og_title = ""
	-var og_url = ""
	-var og_description = ""
	-var dir_root = "./"
	-var groop_root = ""
	-var css = ""
doctype
html(lang="ja")
	head
		meta(charset="UTF-8")
		meta(http-equiv='Content-Type', content='text/html; charset=EUC-JP')
		meta(http-equiv='content-language', content='ja')
		meta(http-equiv='Content-Script-Type', content='text/javascript')
		meta(http-equiv='Content-Style-Type', content='text/css')
		title #{pagetitle}
		meta(name="description" content="#{description}")
		meta(name="keywords" content="#{keyword}")
		meta(property="og:site_name" content!="#{og_name}")
		meta(property="og:title" content!="#{og_title}")
		meta(property="og:description" content!="#{og_description}")
		meta(property="og:url" content!="#{og_url}")
		meta(property="og:images" content!="http://beerweek.jp/2016/images/ogp_img.jpg")
		meta(property="og:type" content!="article")
		meta(property="og:locale" content!="ja_JP")
		link(rel="stylesheet" type="text/css" href="#{groop_root}css/#{css}" media="all")
		link(rel="stylesheet" type="text/css" href="#{dir_root}common/css/common.css" media="all")
		link(rel="stylesheet" type="text/css" href="#{dir_root}common/css/reset.css" media="all")
		script(rel="text/javascript",src="#{dir_root}common/js/lib.js")
		script(rel="text/javascript",src="#{dir_root}common/js/common.min.js")
		block js
	body
		#header
			h1.title.
				#{title}
		#main(class=groop+' '+current)
			.inner
				#globalnav
					.glovalnav__inner
						h2.menutitle.accordion(class=groop == 'Sites' ? 'active' : '') 作品別攻略サイト
						ul.globalnav__menus(class=groop == 'Sites' ? 'active' : '')
							li.list(class=current == 'TodR' ? 'active' : '')
								a.link(href="#{dir_root}todr/") 不思議の幻想郷TODR
							li.list(class=current == 'Tod' ? 'active' : '')
								a.link(href="#{dir_root}") 不思議の幻想郷TOD
						h2.menutitle.accordion(class=groop == 'Base' ? 'active' : '') 基礎知識
						ul.globalnav__menus(class=groop == 'Base' ? 'active' : '')
							li.list(class=current == 'Changed' ? 'active' : '')
								a.link(href="#{groop_root}/base/changed/") 不思議の幻想郷3からの変更点
							li.list(class=current == 'Fusion' ? 'active' : '')
								a.link(href="#{dir_root}") ニトフュージョン
						h2.menutitle.accordion(class=groop == 'System' ? 'active' : '') システム
						ul.globalnav__menus(class=groop == 'System' ? 'active' : '')
							li.list(class=current == 'BaseSystem' ? 'active' : '')
								a.link(href="#") 基本システム
							li.list(class=current == 'ExperiencePoint' ? 'active' : '')
								a.link(href="#{dir_root}") 経験値
						h2.menutitle.accordion(class=groop == 'Data' ? 'active' : '') データ
						ul.globalnav__menus(class=groop == 'Data' ? 'active' : '')
							li.list(class=current == 'Player' ? 'active' : '')
								a.link(href="#") プレイヤーキャラクター
							li.list(class=current == 'Monster' ? 'active' : '')
								a.link(href="#{dir_root}") モンスター
							li.list(class=current == 'Equipment' ? 'active' : '')
								a.link(href="#{dir_root}") 装備品
							li.list(class=current == 'Item' ? 'active' : '')
								a.link(href="#{dir_root}") アイテム
							li.list(class=current == 'Reicpe' ? 'active' : '')
								a.link(href="#{dir_root}") レシピ
							li.list(class=current == 'Map' ? 'active' : '')
								a.link(href="#{dir_root}") マップ
							li.list(class=current == 'Pricelist' ? 'active' : '')
								a.link(href="#{dir_root}") 値段一覧表
							li.list(class=current == 'Condition' ? 'active' : '')
								a.link(href="#{dir_root}") 状態異常
						h2.menutitle.accordion(class=groop == 'Facility' ? 'active' : '') 施設
						ul.globalnav__menus(class=groop == 'Facility' ? 'active' : '')
							li.list(class=current == 'HakureiShrine' ? 'active' : '')
								a.link(href="#") 博麗神社
							li.list(class=current == 'KasenDojo' ? 'active' : '')
								a.link(href="#{dir_root}") 華扇道場
							li.list(class=current == 'YokaiVillage' ? 'active' : '')
								a.link(href="#{dir_root}") 妖怪の里
							li.list(class=current == 'TheOldCapital' ? 'active' : '')
								a.link(href="#{dir_root}") 旧都
							li.list(class=current == 'WatatsukiBunnyLand' ? 'active' : '')
								a.link(href="#{dir_root}") 綿月バニーランド
							li.list(class=current == 'UndergroundStorageOfShinreibyo' ? 'active' : '')
								a.link(href="#{dir_root}") 神霊廟の地下蔵
							li.list(class=current == 'StrongholdOfSyokaitengu' ? 'active' : '')
								a.link(href="#{dir_root}") 哨戒天狗の詰所
						h2.menutitle.accordion(class=groop == 'Dungeon' ? 'active' : '') ダンジョン
						ul.globalnav__menus(class=groop == 'Dungeon' ? 'active' : '')
							li.list(class=current == 'MainStory' ? 'active' : '')
								a.link(href="#") メインストーリー
							li.list(class=current == 'KasenDojoStory' ? 'active' : '')
								a.link(href="#{dir_root}") 華扇道場
							li.list(class=current == 'WatatsukiBunnyLandStory' ? 'active' : '')
								a.link(href="#{dir_root}") 綿月バニーランド
							li.list(class=current == 'TokkyuGyokutoYouseijoStory' ? 'active' : '')
								a.link(href="#{dir_root}") 特級玉兎養成場
							li.list(class=current == 'OtherStory' ? 'active' : '')
								a.link(href="#{dir_root}") その他
							li.list(class=current == 'FutoRenStory' ? 'active' : '')
								a.link(href="#{dir_root}") ふとれん
							li.list(class=current == 'TheBulletReporterStory' ? 'active' : '')
								a.link(href="#{dir_root}") ザ・バレットリポーター
				#content
					block content
				#index
					h2.index__title 目次
		#footer